html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

@font-face {
    font-family: "Bebas";
    src: url("../fonts/Bebas.woff2") format("woff2"), url("../fonts/Bebas.woff") format("woff"), url("../fonts/Bebas.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype");
    font-weight: normal;
}

li {
    display: inline-block;
}

body {
    background-image: url(../images/background.jpg);
    font-family: "Bebas";
    font-weight: 400;

}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 78px;
}

.header__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__menu__item+.header__menu__item {
    margin-left: 26px;
}

.header__menu-link {
    font-size: 16px;
    line-height: 100%;
    color: #b9b9b9;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    transition: color .2s;
}

.header__menu-link:hover, .header__menu-link--active {
    color: #e8663c;
}

.header__menu-btn {
    width: 30px;
    display: none;
}

.header__menu-row {
    width: 100%;
    background-color: #e8663c;
    height: 4px;
    margin-bottom: 4px;
}

.slider__inner {
    position: relative;
}

/* .slider__inner::before, .slider__inner::after {
    content: "";
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #f3b29d;
}

.slider__inner::before {
    left: 100%;
    margin-left: 10px;
}

.slider__inner::after {
    right: 100%;
    margin-right: 10px;
} */

.slider__item {
    min-height: 400px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    position: relative;
}

.thumbs-item {
    height: 120px;
    width: 140px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}

.thumbs .slick-slide {
    max-width: 140px;
}

.thumbs .slick-track div+div {
    margin-left: 20px;
    margin-bottom: 40px;
}

.thumbs .slick-track {
    display: flex;
    justify-content: space-between;
}

.slider {
    position: relative;
}

.slider__item-box {
    max-width: 412px;
    padding: 20px 18px 25px;
    margin-left: 36px;
    position: absolute;
    bottom: 32px;
    background-color: rgba(232, 102, 60, 0.6);
    color: #fff;
}

.slider__item-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.slider__item-text {
    font-family: "HelveticaNeue";
    font-size: 12px;
}

.slick-arrow {
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 157px;
    z-index: 1;
    cursor: pointer;
    font-size: 0;
}

.slick-prev {
    left: 21px;
}

.slick-next {
    right: 15px;
}

.items {
    font-size: 12px;
    color: #414141;
    margin-bottom: 39px;
}

.items__inner {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 277px;

}

.item__title {
    font-size: 18px;
    line-height: 24px;
    color: #e8663c;
    margin-bottom: 18px;
    padding-left: 70px;
    position: relative;
}

.item__title.icon-1::after, .item__title.icon-2::after, .item__title.icon-3::after {
    content: "";
    position: absolute;
    background-image: url(../images/icon-1.png);
    left: 0;
    top: 5px;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
}

.item__title.icon-2::after {
    background-image: url(../images/icon-2.png);
}

.item__title.icon-3::after {
    background-image: url(../images/icon-3.png);
}

.item__text {
    font-size: 12px;
    font-family: "HelveticaNeue";
    line-height: 18px;
    color: #414141;
    margin-bottom: 20px;
}

.item__btn-link {
    display: inline-block;
    color: #fff;
    background-color: #e8663c;
    padding: 10px 15px;
    bottom: 0;
    text-decoration: none;
}

.works__title {
    margin-bottom: 24px;
    background-image: url(../images/line.jpg);
    font-size: 18px;
    color: #e8663c;
    text-transform: uppercase;
}

.works__title span {
    display: inline-block;
    padding-right: 19px;
    background-color: #fff;
}

.works__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.works__img img {
    display: block;
}

.works__title-galery {
    border: 1px solid #b9b9b9;
    border-top: 0px;
    padding: 12px;
}

.works__title-link {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: #b9b9b9;
}

.works__data {
    text-transform: uppercase;
    display: block;
    font-size: 11px;
    line-height: 18px;
    color: #e8663c;
}

.footer__inner {
    position: relative;
    background-color: #e8663c;
    display: flex;
    justify-content: space-between;
    padding: 36px 40px 12px 33px;
    color: #fff;
}

/* .footer__inner::before, .footer__inner::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #f3b29d;
}


.footer__inner::before {
    left: 100%;
    margin-left: 10px;
   
}

.footer__inner::after {
    right: 100%;
    margin-right: 10px;
   
} */

.footer__box {
    min-width: 277px;
    margin: 0 19px 0 0;
    padding-right: 10px;
}

.footer__title {
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
}

.footer__text {
    font-family: "HelveticaNeue";
    font-size: 12px;
    line-height: 14px;
}

.footer__text-link {
    color: #f3b29d;
    text-decoration: none;
}

.footer__text span {
    color: #f3b29d;
}

.footer__text {
    margin-bottom: 20px;
}

.footer__text-link a {
    color: #fff;
}

.footer__text-contact {
    text-decoration: none;
    color: #fff;
}

.footer__text-email {
    margin-top: 14px;
}

.footer__social-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__social-item+.footer__social-item {
    margin-left: 5px;
}